<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.author.name}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons" style="display:block">
		<div style="text-align:center">
		 <div style="text-align:left">
			<a aria-label="Send email" href="mailto:contact@thomasburette.com" style="color:inherit"><i class="icon fa fa-envelope" style="vertical-align:middle"></i><span>contact@thomasburette.com</span></a>
		 </div>
		<br>
		<div style="text-align:left">
		<!--
        <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
		-->
        <a aria-label="My Github" target="_blank" href="https://github.com/tburette" style="color:inherit"><i class="icon fa fa-github-alt" aria-hidden="true" style="vertical-align:middle"></i><span>github</span></a>
		</div>
		<br>
		<div style="text-align:left">
		<a aria-label="My Github" href="/blog" style="color:inherit;text-align:left"><i class="icon fa" aria-hidden="true" style="vertical-align:middle">B</i><span>blog</span></a>
		</div>
		</div>
      </div>
	  <!--
      <div class="header-links">
		
		<a class="link" href="blog/" >My Blog</a>
		
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
		
      </div>
	 -->
  </div>
  <!--
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  -->
</div>
